<div class="col-sm-5 floatFix"><h2>Add or Edit a Club</h2>

<div class="card card-body mb-3">

  <form>

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="currentClub.name" name="name" #title>
    </div>
    
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" [(ngModel)]="currentClub.city" name="city" #city>
    </div>

    <div class="form-group">
      <label>Color</label>
      <select class="form-control" [(ngModel)]="currentClub.color" name="color" #color>
        <option value="">Select a Color:</option>
        <option name="color" value="1">1</option>
        <!--*ngFor="let colors of currentClub.color" [value]="colors" [(ngModel)]="currentClub.color"-->
      </select>
    </div>

    <div class="form-group">
      <label>Is it a Top-Four Club?</label>
      <div class="radio">
        <label>
          <input type="radio" name="isTopFour" [(ngModel)]="currentClub.isTopFour" #isTopFour>Yes
        </label>
        <label>
          <input type="radio" name="isTopFour" [(ngModel)]="currentClub.isTopFour" #isTopFour>No
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Next Match Date</label>
      <input type="text" class="form-control" [(ngModel)]="currentClub.nextMatchDate" name="nextMatchDate" #nextMatchDate>
    </div>
    
    <input type="hidden" [(ngModel)]="currentClub.id" name="id">
    
    <button *ngIf="!isEdit" (click)="addClub(name.value, city.value, color.value, isTopFour.value, nextMatchDate.value)" class="btn btn-dark btn-block">Add Club</button>

    <button *ngIf="isEdit" (click)="updateClub(name.value, city.value, color.value, isTopFour.value, nextMatchDate.value)" class="btn btn-warning btn-block">Update Club</button>

  </form>

</div>
</div>